.movieCard {
    color: white;
    background: rgba(0,0,0,.7);
    width: 1200px;
    height: 500px;
    box-sizing: border-box;
    border-radius: 30px;
    overflow: hidden;
    margin: 20px;
}
.movieCard__row{
    display: flex;
    flex-direction: row;
}
.movieCard__poster {
    overflow: hidden;
    flex: 0 0 auto;
}
.movieCard__poster > img {
    display: block;
    overflow: hidden;
    width: 100%;
    min-width: 100%;
    min-height: 320px;
    white-space: nowrap;
    text-indent: 100%;
    border-radius: 3px;
}
.movieCard__info {
    padding: 20px;
}
