
.search {
    position: relative;
    width: 400px;
}

.searchInput {
    font-size: large;
    box-sizing: border-box;
    width: inherit;
    height: 30px;
    padding: 0 20px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.dropResults {
    position: absolute;
    top: 35px;
    z-index: 101;
    width: inherit;
    background-color: #000000;
    box-sizing: border-box;
    border-radius: 10px;
}
