
.search {
    position: relative;
    width: 30%;
    display: flex;
}

.searchInput {
    font-size: large;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 0 20px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.dropResults {
    position: absolute;
    top: 35px;
    z-index: 101;
    width: 100%;
    background-color: #000;
    box-sizing: border-box;
    border-radius: 10px;

}
.resultsTable {
    width: 100%;
    border-spacing: 0;
}
